.svg-down-arrow-dims {
	width: 25px;
	height: 25px;
}

.svg-instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-linkedin-dims {
	width: 32px;
	height: 32px;
}

.svg-mail-dims {
	width: 32px;
	height: 32px;
}

.svg-medium-dims {
	width: 32px;
	height: 30.91px;
}

.svg-our-work-dims {
	width: 32px;
	height: 32px;
}

.svg-pin-dims {
	width: 16px;
	height: 16px;
}

.svg-right-arrow-dims {
	width: 25px;
	height: 25px;
}

.svg-twitter-dims {
	width: 32px;
	height: 32px;
}

